/* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span10, .content .span8,
      .content .span4, .content .span6 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4, .content .span6 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }

.topbar .fill {
  background-color: #1b5d86;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1b5d86), to(#548cb0));  
  background-image: -moz-linear-gradient(top, #1b5d86, #548cb0);
  background-image: -ms-linear-gradient(top, #1b5d86, #548cb0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b5d86), color-stop(100%, #548cb0));
  background-image: -webkit-linear-gradient(top, #1b5d86, #548cb0);
  background-image: -o-linear-gradient(top, #1b5d86, #548cb0);
  background-image: linear-gradient(top, #1b5d86, #548cb0);
}

.topbar h3 a, .topbar .brand {

   color: #FFFFFF;
   display: block;
   float: left;
   font-size: 20px;
   font-weight: 200;
   line-height: 1;
   margin-left: -20px;
   padding: 8px 20px 12px;
}

h2 {

   font-size: 32px;
   line-height: 36px;

}

p.ol-large{
	margin-top: 38px;
	font-size: 16px;
	line-height: 20px;
}

.brand {
   background: url(/img/logo.png) no-repeat 50% 50%;
   height: 19px;
   width: 90px;
}
      